body{
    margin: 0px;
    padding: 0px;
    font-family: Arial,sans-serif;
}
.superior{
    margin-top: -52%;
    margin-left: 10%;
    position: fixed;
    display: block;
}
.principal{
    margin-top: -52%;
    margin-left: 10%;   
}
.imagen{
    margin-top: -2%;
    margin-left: 0%;
}
.nombre{
    margin-top: -2%;
    margin-left: 2.5%;
    color: white;
    font: 30px bolder;
    font-family: Arial, sans-serif;
}
.contenido{
    margin-top: 15%;
}
h1{
    color: white;
    font: 80px solid;
    font-family: Arial, sans-serif;
}
h2{
    color: #f0609f;
    font: 55px solid;
    font-family: Arial, sans-serif ;
    margin-top: -60px;
}
p{
    color: white;
    font: 35px lighter sans-serif;
    font-family: Arial, sans-serif ;
    margin: 5px;
}
.boton{
    margin-top: 50px;
    margin-right: 10px;
    padding: 20px 55px;
    color: white;
    background: none;
    border-radius: 50px;
    border-color: #f0609f;
    font: 15px solid;
    font-family: Arial, sans-serif;
    outline: none;
}
.boton:hover{
    background-color: #f0609f;

}
.web{
    margin-top: 5%;
    margin-left: -3%; 
    display: block;
}
.webs__icon--facebook{
    margin-top: 1%;
}
.webs__icon--twitter{
    margin-top: 1%;
}
.pie{
    color: rgba(245, 245, 245, 0.685);
    margin-top: 0%;
    margin-right: 2%;
    text-align: end;
}